@import 'customize';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f1f1f1;
}

a {
    color: $white !important;
}

nav {
    background-color: $secondary-color;
    .navbar-brand {
        color: $white !important;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
    
        span {
            color: $primary-color;
        }
    }

    li {
        padding: 0 0.9rem;
    }

    a:hover {
        color: $primary-color !important;
    }
}

.home {
    position: relative;
    background-image: linear-gradient(to right bottom, #181818, #272727, #363636, #474747, #585858);
    height: 100vh;

    .container {
        position: absolute;
        top: 15%;
        left: 10%;
        right: 10%;
    }

    div {
        color: $white;
    }

    .name {
        font-size: 4rem;
        font-weight: 700;
    }

    span {
        color: $primary-color;
    }
}

.about {
    span {
        color: $primary-color;
    }
}

.projects {
    background-color: $secondary-color;

    h1 {
        color: $white;
    }

   .card:hover{
    -moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
    transition: transform ease-out;
   }

   .card-title {
       color: $white;
       font-weight: 600;
       font-size: 1.5rem;
   }
}

.technologies {
    h1 {
        color : $white;
    }
}

// technologies logos
.tech {
    width: 80px;
    height: 80px;
    padding: 0 0.5rem;
}

.tech:hover{
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}

.tech__container {
    position: relative;
    
}

.tech__container:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    padding: 0.5rem;
    width: max-content;
    border-radius: 0.3rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    transition: 150ms transform;
    transform-origin: top center;
}

.tech__container:hover::before {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    top: 40px;
    content: ' ' ;
    border: 10px solid transparent;
    border-bottom-color: $white;
    transform-origin: bottom center ;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: scale(0.9);}
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: scale(0.9);}
    100% { transform: translateY(-20px); }
}

footer{
    display: flex;
    justify-content: center;
    

    p {
        color: $white;
    }

    .name {
        color: $primary-color;
    }
}

.logo:hover{
    transform: scale(1.2);
}

.bi-linkedin:hover, .bi-github:hover{
    color: darken($primary-color, 20%) !important;
    transform: scale(1.2);
}