@import 'customize';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f1f1f1;
}

a {
    color: $white !important;
}

nav {
    background-color: $secondary-color;
    .navbar-brand {
        color: $white !important;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
    
        span {
            color: $primary-color;
        }
    }

    li {
        padding: 0 0.9rem;
    }

    a:hover {
        color: $primary-color !important;
    }
}

.home {
    position: relative;
    background-image: linear-gradient(to right bottom, #181818, #272727, #363636, #474747, #585858);
    height: 100vh;

    .container {
        position: absolute;
        top: 15%;
        left: 10%;
        right: 10%;
    }

    div {
        color: $white;
    }

    .name {
        font-size: 4rem;
        font-weight: 700;
    }

    span {
        color: $primary-color;
    }
}

.about {
    span {
        color: $primary-color;
    }
}